<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Favorite Map</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but favorite_map doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
    <!--  <router-link to="/navigation-map">Go to home</router-link>
      <router-link to="/main-authentication">Go to about</router-link>-->
      <router-view></router-view>
    </div>
    <!-- built files will be auto injected -->

  <style type="text/css">
    *{
      font-family: "Arial", Times, serif;
    }
    .action-btn {
      background-color: #0B6FA4;
      color: white;
      border:solid 1px #2c3e50;
      margin-left: 1em;
      cursor: pointer;
    }

    body {
      background-color: #edf1f5;
    }

    .raw-btn {

      border:solid 1px rgba(0, 0, 0, 0.05);

    }

    .action-btn, .raw-btn {

      cursor: pointer;
      border-radius: 5px;

    }

    .action-btn:hover {
      opacity: .8;
    }

  </style>
  </body>
</html>
