<template>
    <div>
        <gmap-map
                :center="center"
                :zoom="12"

                @dblclick="setLocation"
                style="width:100%;  height: 400px;">
            <gmap-marker
                    :key="index"
                    v-for="(m, index) in registeredMarkers"
                    :position="m.position"
                    @click="center=m.position"
            ></gmap-marker>
        </gmap-map>
    </div>
</template>

<script>

    export default {

        name: "GoogleMap",
        data() {
            return {
                // default location Algiers
                center: { lat: 45.508, lng: -73.587 },
            };
        },

        mounted() {
            this.geolocate();
        },

        methods: {

            /*
            *  Receive the latitude and longitude
            *  on double clicking event on the map
            */
            setLocation(e){

                if ( e.latLng.lat() && e.latLng.lng() ){

                    const currentLocation = {
                        lat: e.latLng.lat(),
                        lng: e.latLng.lng()
                    };

                    this.$store.commit({
                        type: 'setCurrentLocation',
                        location: currentLocation
                    })

                }

            },

            geolocate: function() {

                navigator.geolocation.getCurrentPosition(position => {
                    this.center = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                });

            }


        },

        computed: {

            /* marker format conversion */
            registeredMarkers(){
                return this.$store.state.markers.reduce((markers,marker)=>{
                    markers.push({
                        position : {
                            lat:marker.lat,
                            lng:marker.lng
                        }
                    });
                    return markers;
                },[]);
            }

        }


    };
</script>

<style>

    #actions-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #gmap-autocomplete input {

        background-color: #A4CD00;

    }


</style>