<template>
    <div id="location-dialog" v-if="visibility">

        <div id="location-form-container">
            <form>

                <label>Name :</label>
                <input class="flx-1"
                       v-bind:class="{ 'input-error' : errors.name }"
                       type="text"
                       id="name"
                       name="name"
                       placeholder="Name"
                       v-on:keydown="errors.name=false"
                       v-model="name" />
                <div class="validation-error" v-if="errors.name">Enter a valid location name</div>

                <label>Description / Comment </label>
                <textarea id="description"
                          name="description"
                          placeholder="Description"
                          v-model="comment"
                          rows="10"
                          cols="50"
                          v-on:keydown="errors.description=false"
                          v-bind:class="{ 'input-error' : errors.description }"
                ></textarea>
                <div class="validation-error" v-if="errors.description">Enter a valid location description</div>

                <div id="location-dialog-actions">
                    <input type="button" class="raw-btn" value="CANCEL" @click="cancel" />
                    <input type="button" class="action-btn" value="ADD TO FAVORITE" @click="addCurrentLocationToFavoriteMarkers" />
                </div>

            </form>
        </div>

    </div>
</template>

<script>
    export default {
        name: "LocationDialog",
        data() {
            return {
                name : "",
                comment: "",
                errors : {
                    name : false,
                    description : false
                }
            };
        },
        methods : {

            /**
             * Persists the location and the description
             * of the current position
             * location through the redux store
             */
            addCurrentLocationToFavoriteMarkers() {

                if(this.name === ''){
                    this.errors.name = true;
                    return false;
                }

                if(this.comment === ''){
                    this.errors.description = true;
                    return false;
                }

                this.$store.dispatch('addCurrentLocationToFavoriteMarkers',{
                    name : this.name,
                    comment : this.comment
                });

                this.name = '';
                this.comment = '';

            },

            /**
             * Clear the selected location
             * to hide the current component
             */
            cancel(){
                this.$store.commit('clearCurrentLocation');
            },


        },

        computed : {

            /**
             * Visibility of the LocationDialog depends on the state
             * of the current location in the store
             */
            visibility(){
                return this.$store.state.currentLocation != null ;
            }

        }

    }
</script>

<style scoped>

#location-dialog{

    background-color: rgba(255,255,255,.8);
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#location-form-container {

    background-color: white;
    padding: 1em;
    border: solid 1px #d3d3d3;
    border-radius :5px;
    text-align: left;

}

#location-form-container label{
    display: inline-block;
    margin-top: 1em;
}

#location-dialog-actions {

    display: flex;
    flex-direction: row;
    margin-top: 1em;

}

.flx-1{
    flex:1;
}

#location-dialog-actions input[type="button"]{
    padding: 1em;
    flex:1;
}

input[type="text"]{

    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 5px;
    border:solid 1px;
    margin-top: 15px;

}

textarea{
    padding: 1em;
    margin-top: 1em;
}

#location-dialog input, #location-dialog label {
    display: block;
}

.validation-error {
    color: rgb(255, 91, 84);
    padding: .5em;
    margin-top: 8px;
    border-radius: 5px;
    border: solid 1px rgb(255, 91, 84);
}

.input-error {
    border-color: red !important;
}

</style>