<template>
    <div>
        <h3 style="text-align: left">Favorite Markers</h3>
        <table class="paleBlueRows" width="100%">
            <thead>
              <th>Name</th>
              <th>Comment</th>
              <th>Location</th>
              <th>Actions</th>
            </thead>
            <tbody>
                <tr v-for="(marker, index) in markers" :key="index" >
                    <td>{{marker.name}}</td>
                    <td>{{marker.comment}}</td>
                    <td><a href="javascript:void(0)">{{marker.address}}</a></td>
                    <td><a href="javascript:void(0)" @click="deleteMarker(index)">Delete</a></td>
                </tr>
            </tbody>


        </table>
    </div>
</template>

<script>
    export default {
        name: "MarkersTable",

        computed : {
            markers(){
                return this.$store.state.markers;
            }
        },

        methods : {

            deleteMarker(index){
                let confirmation = confirm("Delete the marker ?");
                if (confirmation === true) {
                    this.$store.commit('deleteMarker',{index});
                }
            }

        }

    }
</script>

<style scoped>

    table.paleBlueRows {
        font-family: "Arial", Times, serif;
        border: 1px solid #FFFFFF;
        width: 100%;
        text-align: center;
        border-collapse: collapse;
    }
    table.paleBlueRows td, table.paleBlueRows th {
        border: 1px solid #FFFFFF;
        padding: 3px 2px;
    }
    table.paleBlueRows tbody td {
        font-size: 13px;
    }
    table.paleBlueRows tr:nth-child(even) {
        background: #D0E4F5;
    }
    table.paleBlueRows thead {
        background: #0B6FA4;
        border-bottom: 5px solid #FFFFFF;
    }
    table.paleBlueRows thead th {
        font-size: 17px;
        font-weight: bold;
        color: #FFFFFF;
        text-align: center;
        border-left: 2px solid #FFFFFF;
    }
    table.paleBlueRows thead th:first-child {
        border-left: none;
    }

    table.paleBlueRows tfoot {
        font-size: 14px;
        font-weight: bold;
        color: #333333;
        background: #D0E4F5;
        border-top: 3px solid #444444;
    }
    table.paleBlueRows tfoot td {
        font-size: 14px;
    }

</style>