<template>

  <div id="login-container">

    <div id="login-form">
        <h3>Login</h3>
        <form @submit.prevent="login">

          <div id="auth-error" v-show="isAuthError">Username or password incorrect</div>

          <label for="username">Username</label>
          <input v-model="username"
                 type="text"
                 class="rounded-input"
                 id="username"
                 name="username"
                 autocomplete="false"
                 v-on:keydown="isAuthError=false"
                 v-bind:class="{ 'input-error' : isAuthError }"
                 placeholder="mail@address.com ..." />

          <label for="password">Password</label>
          <input v-model="password"
                 type="password"
                 class="rounded-input"
                 id="password"
                 name="password"
                 autocomplete="false"
                 v-on:keydown="isAuthError=false"
                 v-bind:class="{ 'input-error' : isAuthError }"
                 placeholder="password" />

          <input type="submit" value="LOGIN" class="default-btn" />

        </form>
    </div>

  </div>

</template>

<script>
export default {
  name : 'MainAuthentication',
  data(){
    return {
      username    : '',
      password    : '',
      isAuthError : false
    }
  },

  mounted(){

    /* if token presence redirect to the map View */
    if( this.$store.state.token !== ''){
      this.$router.push('/navigation-map');
    }

  },

  methods : {
    login: function () {

      this.$store.dispatch('authRequest', { username:this.username, password:this.password }).then(() => {
        this.$router.push('/navigation-map');
      }).catch((error)=>{
        //alert(error);
        this.isAuthError = true;
      });

    }
  }

}
</script>

<style>


  #login-container {

    background-color:#05a7af;
    position: absolute;
    top: 0; left: 0;bottom: 0;right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  #login-form {

    background-color: white;
    width: 300px;
    border-radius: 5px;
    padding: 1em;

    display: flex;
    flex-direction: column;

  }

  #login-form label {
    display: block;
    text-align: left;
    margin-bottom: .5em;
  }

  .rounded-input{

    padding: 1em;
    border: solid 1px #d3d3d3;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
    width: 100%;

  }

  .default-btn{

    padding: 1em;
    width: 100%;
    background-color:#05a7af;
    border: solid 1px white;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;

  }

  #auth-error {
    color: white;
    background-color: rgb(255, 91, 84);
    padding: 1em;
    margin-bottom: 15px;
    border-radius: 5px;
  }

  .input-error {
    border-color: red;
  }

</style>