<template>
  <div>

    <div id="actions-container">
      <div>
        <!-- <gmap-autocomplete id="gmap-autocomplete" @place_changed="setPlace"></gmap-autocomplete>
         <button @click="addMarker">Add</button>-->
      </div>
      <div>
        <button id="logout" name="logout" @click="logout">logout</button>
      </div>
    </div>

    <location-dialog></location-dialog>
    <google-map />
    <markers-table></markers-table>
  </div>
</template>

<script>
import GoogleMap from "./components/GoogleMap";
import LocationDialog from "./components/LocationDialog";
import MarkersTable from "./components/MarkersTable";

export default {
  name: 'NavigationMap',
  data(){

    return {}

  },

    mounted(){

        /* if token presence redirect to the map View */
        if( this.$store.state.token === ''){
            this.$router.push({name:'login'});
        }

    },

  props: {
    defaultLocation: String
  },

  methods:{

    logout(){

      let confirmation = confirm("Leave ?");
      if (confirmation === true) {
        this.$store.commit('logOut');
        this.$router.push({ name: 'login'});
      }

    }

  },

  components : {
    GoogleMap,
    LocationDialog,
    MarkersTable
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style >
#logout{

  padding: 1em;
  box-sizing: border-box;
  width: 150px;
  margin-bottom: 1em;
  background-color: #0B6FA4;
  border:solid 1px #2c3e50;
  color: white;
  cursor:pointer;

}
</style>
